@model AssignmentManager.Models.AssignmentListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div class="pull-left">
            <h1>@Model.Title</h1>
        </div>
        <div class="pull-right" style="margin: 20px 0;">
            <a href="Assignment/Insert" class="btn btn-info">Add New</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        IsDone
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var assignment in Model.EntryList)
                {
                    <tr>
                        <td>@assignment.Title</td>
                        <td>@assignment.Description</td>
                        <td>@assignment.IsDone</td>
                        <td>
                            <a href="/Assignment/Update/@assignment.Id" class="btn btn-warning">Update</a>
                            <a href="/Assignment/Delete/@assignment.Id" class="btn btn-danger">Delete</a>
                            <a href="/Comment/Index/@assignment.Id" class="btn btn-default">Comments</a>
                            <a href="/Assignment/Details/@assignment.Id" class="btn btn-info">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
