@model DataAccess.Entities.Assignment
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <h1>Insert</h1>
    <div class="container"> 
        @using (Html.BeginForm("Insert","Assignment"))
        {
           <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title)
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextAreaFor(model => model.Description, new { rows="5", @class="form-control" })
                </div>
            </div> 
            <div>
                <input type="submit" value="Save" class="btn btn-success"/>
            </div>
        }            
    </div>
</body>
</html>
